@font-face {
    font-family: Talk;
    src: url("assets\\ZTTalk-Medium.ttf");
}

* {
    font-family: Talk;
    margin: 0;
} 

aside {
    margin: 50px 0;

    display: grid;
    gap: 50px;
    font-size: large;

    text-align: center;
}

aside p {
    padding: 0 50px;
}

main {
    height: 5000px;
}

footer  {
    background-color: black;
    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: x-large;
}


.cards-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

@media (max-width: 600px) {
    .cards-page {
        flex-direction: column;
        gap: 30px;
    }
    .cards-page a {
        width: 90%;
    }
}

img {
    width: 75px;
    height: 75px;

    filter: invert(1);
    transition-duration: .5s;

}

.card {
    height: inherit;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: black;
    background-image: linear-gradient(black, black, rgba(21, 0, 255, 0.25));
    color: white;

    transition-duration: .5s;
}


.card p {
    padding: 0 30px;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    background-image: linear-gradient(white, white, rgba(21, 0, 255, 0.25));
    background-color: white;
    color: black;
}

.card:hover img {
    filter: invert(0);
}
.clickable-card {
    height: inherit;
    width: 30%;

    text-decoration: none;
}