@font-face {
    font-family: Talk;
    src: url("assets\\ZTTalk-Medium.ttf");
}

* {
    font-family: Talk;
    margin: 0;
} 

ul {
    padding: 0;

    height: 100%;

    display: inline-flex;
    justify-content: left;

    list-style: none;
}
ul li {
    display: inline-block;
    
    position: relative;
}

ul li a {
    padding: 0 20px;
    
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    transition-duration: 0.5s;

    text-decoration: none;
    font-size: larger;
    text-align: center;
}

li a:hover {
    background: rgba(255, 255, 255, 0.5);
}

ul li ul.dropdown li {
    height: 75%;

    display: block;

    background-color: black;

    font-size: medium;

}
ul li ul.dropdown {
    transition-duration: 0.5s;
    width: 100%;
    position: absolute;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}

/* button {
    border-radius: 0;
    border: none;

    transition-duration: 0.5s;

    background: black;
    color: white;
    font-size: larger;

    height: 100%;

    text-align: center;
} */

/* .button-resend, .account-management {
    text-decoration: none;
    display: inline-flex;
    height: inherit;
} */

/* .account-management {
    width: 100%;
    display: flex;
    justify-content: right;
} */

/* button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
} */

header {
    display: flex;
    align-items: center;
    height: 75px;

    font-size: larger;
    color: white;
    background-color: black;
}

aside {
    margin: 50px 0;

    display: grid;
    gap: 50px;
    font-size: large;

    text-align: center;
}

aside p {
    padding: 0 50px;
}

main {
    height: 5000px;
}

footer  {
    background-color: black;
    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: x-large;
}


.cards-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

img {
    width: 75px;
    height: 75px;

    filter: invert(1);
    transition-duration: .5s;

}

.card {
    height: inherit;
    border-radius: 15px;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: black;
    color: white;

    transition-duration: .5s;
}

.card p {
    padding: 0 30px;
}

.card:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
}

.card:hover img {
    filter: invert(0);
}
.clickable-card {
    height: inherit;
    width: 30%;

    text-decoration: none;
}