@font-face {
    font-family: Talk;
    src: url("assets\\ZTTalk-Medium.ttf");
}

* {
    font-family: Talk;
    margin: 0;
} 

footer  {
    background-color: black;
    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: x-large;
}

section {
    margin: 25px 100px 25px 25px;
    padding: 50px;
    color: white;
    background-color: black;
    transition-duration: 1s;
}

section:hover {
    transform: translateX(10px);
    box-shadow: -10px 0 25px rgba(0, 0, 0, 1);
}


.PERSONAL ul, .CONTACTS ul {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.SKILLS, .CONTACTS {
    margin: 25px 25px 25px 100px;
}

.SKILLS:hover, .CONTACTS:hover {
    transform: translateX(-10px);
    box-shadow: 10px 0 25px rgba(0, 0, 0, 1);
}

.SKILLS div:not(.bar) {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bar {
    height: 25px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    color: black;
    display: flex;
    align-items: center;
}
.bar p {
    padding: 0 0 0 5px;
}

.PROJECTS {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.PROJECTS div:not(.card) {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 15px;
    min-height: 300px;
    padding: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    background-color: white;
    background-image: linear-gradient(180deg, white, white, rgba(0, 255, 0, 0.5));
    color: black;

    text-align: center;

    transition-duration: 0.5s;

}

.card-blue {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), white, white);
}

.card:hover {
    transform: scale(1.05);
    background-color: black;
    background-image: linear-gradient(180deg, black, black, rgba(0, 255, 0, 0.5));
    color: white;
    z-index: 1;
}

.card-blue:hover {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), black, black);
}

.card:hover img {
    filter: invert(1);
}

.card img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.5s;
}

.PROJECTS a {
    width: 50%;
    color: white;
    text-decoration: none;
}