@import "tailwindcss";

@font-face {
  font-family: Talk;
  src: url("ZTTalk-Medium.ttf");
}

#app {
  position: relative;
  min-height: 100vh;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Talk;
}
/* BACKGROUND COLOR HERE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
html {
  background-color: var(--color-background);
}

/* COLOR SCHEME FROM https://www.realtimecolors.com/?colors=d1d1d1-16161d-2b2b2b-ffff66-0fffff&fonts=Inter-Inter */
@theme {
  --color-background: #0f0f1a;
  --color-background-2: #1f1f2a;
  /* well structured colors */
  --color-primary: #0fffff;
  --color-primary-2: #0eeeee;
  --color-secondary: #ffff0f;
  --color-secondary-2: #dddd0d;
  --color-selected: #d1d1d1;
}

input:-internal-autofill-selected,
input:-webkit-autofill {
  background-color: black !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px black inset !important; /* <- CHANGES BG COLOR!*/
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
